<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body onload="connect()">


<div th:replace="~{navigation :: navi(Shop)}"/>

<div class="container">
    <br>
    <h1>@GeekMarket</h1>
    <table class="table table-dark table-striped">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Категория</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>

        <tr class="responsive-row" th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.category.categoryTitle}"/>
            <td>
                <span style="font-weight: bold;" th:text="${product.title}"></span>
                <br>
                <span th:text="${product.shortDescription}"></span>
            </td>
            <td th:text="${product.price}"/>
            <td>
                <a th:href="@{'/shop/cart/add/' + ${product.id}}" onclick="sendName()">Добавить в корзину</a>
            <td/>
        </tr>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(1, totalPage, 1)}">
                <a th:class="page-link" th:text="${i}" th:classappend="${page == i ? 'active' : ''}" th:href="@{'/shop/?page=' + ${i}}"></a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>